@charset "UTF-8";
/* ---------------------------------MENÚ---------------------------------*/
header {
  grid-area: header;
  margin-top: 10px;
  margin-right: 27px;
  margin-left: 22px; }

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(#141414, #000000);
  margin: 0px 3px 0px 0px; }

table {
  font-size: 12px;
  background-color: grey; }

th {
  background-color: #bdbdbd; }

tr, td {
  background-color: #bdbdbd;
  font-style: italic;
  color: #2a50a1; }

h1 {
  color: #0950bb;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace; }

h2 {
  color: #073d8d;
  font-weight: bold;
  font-size: 25px;
  padding-top: 15px; }

h2:hover {
  color: #0e0468; }

h5 {
  font-weight: bold; }

h6 {
  font-weight: bold; }

p {
  color: white; }

.bajada {
  font-style: italic; }

nav ul {
  float: right; }
  nav ul li {
    font-size: 16px;
    display: inline-block; }

.menu {
  margin-top: 70px; }

.sm_ig {
  margin-top: 4px;
  padding-right: 8px;
  opacity: 0.5; }

.sm_fb {
  margin-top: 4px;
  opacity: 0.5; }

.cast {
  list-style-type: circle; }

/* ---------------------------------HOME---------------------------------*/
.banner_principal {
  grid-area: banner_home;
  margin: 30px 30px 0px 30px;
  text-align: center;
  animation-duration: 4s;
  animation-name: principal; }

@keyframes principal {
  0% {
    opacity: 0; }
  50% {
    opacity: 0,5; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 600px) {
  #grilla_home {
    display: grid;
    grid-template-rows: 60px 150px 60px;
    grid-template-areas: "header" "banner_home" "footer";
    grid-row-gap: 3px;
    grid-column-gap: 3px; } }

/* ---------------------------------FESTIVAL---------------------------------*/
.row {
  display: flex;
  flex-direction: row;
  margin: 130px 16px 100px 24px; }

.festival {
  margin-top: 100px; }

.img_festival {
  height: 100%;
  margin-top: 70px;
  animation-duration: 4s;
  animation-name: imgfest; }

@keyframes imgfest {
  0% {
    opacity: 0; }
  50% {
    opacity: 0,5; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: row;
    margin: 31px 0px 0px 0px !important; }
    .row .festival {
      margin-top: 10px; }
      .row .festival .img_festival {
        margin-top: 3px; } }

/* ---------------------------------PROGRAMA---------------------------------*/
.contprog {
  grid-area: contprog;
  margin-bottom: 20px;
  margin-left: 24px; }

.reservas {
  margin-top: 50px;
  padding-bottom: 5px;
  margin-left: 17px;
  width: 920px; }

.days_row {
  display: flex;
  flex-direction: row; }

@media screen and (max-width: 600px) {
  .reservas {
    width: 300px !important; }
  .days_row {
    display: flex;
    flex-direction: column;
    margin: 31px 10px 0px 4px !important; } }

.footer_prog {
  margin-top: 20px; }

/* ---------------------------------INFORMACIÓN---------------------------------*/
.info {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  margin-left: 29px; }

.info__texto {
  width: 556px; }

.info__img {
  margin-left: 100px;
  margin-right: 20px; }

.texto_cards {
  color: beige;
  margin-left: 10px; }

.btn-link {
  text-decoration: none; }

.btn-link:hover {
  text-decoration: none;
  color: #030341; }

.card {
  background-color: #494949; }

@media screen and (max-width: 600px) {
  .info__texto {
    width: 406px !important; }
  .info {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 29px; }
    .info .info__img {
      margin-left: 10px; } }

/* ---------------------------------CONTACTO---------------------------------*/
.row {
  margin-top: 60px;
  display: flex;
  flex-direction: row; }

label[for=nya] {
  color: #9e9e9e; }

.foto_contacto {
  margin-top: 20px;
  height: 100%; }

.news {
  color: #666666; }

@media screen and (max-width: 600px) {
  .contacto {
    display: flex;
    flex-direction: column;
    margin: 31px 10px 0px 4px !important; }
    .contacto .foto_contacto {
      margin-top: 20px;
      align-content: right;
      height: 100% !important; } }

/* ---------------------------------FOOTER---------------------------------*/
footer {
  background-image: linear-gradient(#000000, #161616);
  grid-area: footer;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.404); }

@media screen and (max-width: 800px) {
  .footer_resp {
    margin-top: 0px; } }

.contactanos {
  padding-top: 10px;
  margin-left: 22px; }
