@charset "UTF-8";
/* ---------------------------------MENÚ---------------------------------*/
header {
  grid-area: header;
  margin-top: 10px; }

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(#7a7a7a, #b6b6b6);
  margin: 0px 3px 0px 6px; }

table {
  font-size: 12px;
  background-color: grey; }

th {
  background-color: #bdbdbd; }

tr, td {
  background-color: #bdbdbd;
  font-style: italic;
  color: #2a50a1; }

h1 {
  color: #073d8d;
  font-weight: bold;
  font-size: 28px; }

h2 {
  color: #073d8d;
  font-weight: bold;
  font-size: 25px;
  padding-top: 15px; }

h6 {
  font-weight: bold; }

p {
  color: black; }

.bajada {
  font-style: italic; }

nav ul {
  float: right; }
  nav ul li {
    font-size: 16px;
    display: inline-block; }

.menu {
  margin-top: 70px; }

.sm_ig {
  margin-top: 6px; }

.sm_fb {
  margin-top: 4px; }

.cast {
  list-style-type: circle; }

/* ---------------------------------HOME---------------------------------*/
#grilla_home {
  display: grid;
  grid-template-rows: 80px 564px 30px;
  grid-template-areas: "header" "banner_home" "footer";
  grid-row-gap: 3px;
  grid-column-gap: 3px; }

.banner_principal {
  grid-area: banner_home;
  margin-top: 30px;
  text-align: center;
  animation-duration: 4s;
  animation-name: principal; }

@media screen and (max-width: 600px) {
  .banner_principal {
    resize: 10px; } }

@keyframes principal {
  0% {
    opacity: 0; }
  50% {
    opacity: 0,5; }
  100% {
    opacity: 1; } }

/* ---------------------------------FESTIVAL---------------------------------*/
#grilla_fest {
  display: grid;
  grid-template-rows: 100px 576px 72px;
  grid-template-areas: "header header" "festgrid festimg" "footer footer";
  grid-row-gap: 3px; }

.contfest {
  margin-top: 80px;
  margin-left: 44px;
  padding-bottom: 50px; }

.row {
  display: flex;
  flex-direction: row; }

.festival {
  grid-area: festgrid;
  width: 556px;
  padding-right: 40px; }

.img_festival {
  grid-area: festimg;
  align-self: auto;
  margin-left: 53px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/* ---------------------------------PROGRAMA---------------------------------*/
#grilla_prog {
  display: grid;
  grid-template-rows: 100px 575px 72px;
  grid-template-areas: "header header" "contprog contprog" "footer footer";
  grid-row-gap: 3px; }

.contprog {
  grid-area: contprog; }

.reservas {
  margin-top: 50px;
  padding-bottom: 10px;
  width: 600px; }

.days {
  display: flex;
  flex-direction: row; }

.footer {
  margin-top: 40px; }

/* ---------------------------------INFORMACIÓN---------------------------------*/
#grilla_inf {
  display: grid;
  grid-template-rows: 100px 575px 72px;
  grid-template-areas: "header header" "info info" "footer footer";
  grid-row-gap: 3px; }

.info {
  grid-area: info;
  display: flex;
  flex-direction: row;
  margin-top: 20px; }

.info__texto {
  width: 556px; }

.info__img {
  margin-left: 150px; }

.texto_cards {
  color: beige;
  margin-left: 10px; }

/* ---------------------------------CONTACTO---------------------------------*/
#grilla_cont {
  display: grid;
  grid-template-rows: 100px 574px 72px;
  grid-template-areas: "header header" "cont cont" "footer footer";
  grid-row-gap: 3px; }

.contacto {
  grid-area: cont;
  margin-top: 70px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: row; }

.info_contacto {
  padding-right: 40px; }

/* ---------------------------------FOOTER---------------------------------*/
footer {
  grid-area: footer;
  font-size: 11px; }
