/* ---------------------------------CONTACTO---------------------------------*/
.row {
    margin-top: 60px;
    display: flex;
    flex-direction: row; }

    label[for=nya]
    {
    color: rgb(158, 158, 158);
    }

.foto_contacto {
    margin-top: 20px;
    height: 100%;}

.news {
    color: rgb(102, 102, 102);
}

@media screen and (max-width: 600px) {   
    .contacto {
        display: flex;
        flex-direction: column;
        margin: 31px 10px 0px 4px !important;

    .foto_contacto {
    margin-top: 20px;
    align-content: right;
    height: 100% !important;
}}}