/* ---------------------------------CONTACTO---------------------------------*/
.contacto {
    margin-top: 55px;}

    label[for=nya]
    {
    color: rgb(158, 158, 158);
    }

    .info_contacto {
        margin-left: 22px;
    }

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.news {
    color: rgb(102, 102, 102);
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.foto_contacto {
    margin-left: 60px;
    margin-top: 60px;
}

#exampleFormControlTextarea1 {
    height: 130px;
}

.footcont {
    padding-top: 115px;
    margin-left: 22px;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {   
    .contacto {
        display: flex;
        flex-direction: column;
        margin: 10px 40px 0px 22px !important;}

    .foto_contacto {
    margin-top: 20px;
    margin-left: 0px;
    align-content: right;
    height: 100% !important;}

    .info_contacto {
        margin-left: 0px;
    }

    .footcont {
        padding-top: 20px;
        margin-left: 28px;
}}