/* ---------------------------------FESTIVAL---------------------------------*/
.row {
    display: flex;
    flex-direction: row;
    margin: 130px 10px 100px 0px ;
}

.img_festival {
    animation-duration: 4s;
    animation-name: imgfest; 
}

@keyframes imgfest {
0% {
opacity: 0; }
50% {
opacity: 0,5; }
100% {
opacity: 1; } }

@media screen and (max-width: 600px) {
        .row {
            display: flex;
            flex-direction: row;
            margin: 31px 10px 0px 4px !important;
        }
}