/* ---------------------------------FESTIVAL---------------------------------*/
.rowfest {
    display: flex;
    flex-direction: row;
    margin: 50px 16px 100px 24px;
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
        .img_festival{
            margin-top: 0px !important;
}}

.img_festival {
    height: 100%;
    margin-top: 70px;
    animation-duration: 4s;
    animation-name: imgfest; 
}

.festival {
    margin-top: 60px;
}

.footfest {
    margin-left: 32px;
    padding-top: 90px;
}

@keyframes imgfest {
0% {
opacity: 0; }
50% {
opacity: 0,5; }
100% {
opacity: 1; } }

@media screen and (max-width: 600px) {
    .rowfest {
        display: flex;
        flex-direction: column;
        margin: 0px 5px 2px 12px !important;
        padding-top: 2px;

        .festival {
            margin-top: 2px ;

        .img_festival{
            margin-top: 0px !important;



}}}}