/* ---------------------------------FESTIVAL---------------------------------*/
.row {
    display: flex;
    flex-direction: row;
    margin: 130px 16px 100px 24px ;
}

.festival {
    margin-top: 100px;
}

.img_festival {
    height: 100%;
    margin-top: 70px;
    animation-duration: 4s;
    animation-name: imgfest; 
}


@keyframes imgfest {
0% {
opacity: 0; }
50% {
opacity: 0,5; }
100% {
opacity: 1; } }

@media screen and (max-width: 600px) {
    .row {
        display: flex;
        flex-direction: row;
        margin: 31px 0px 0px 0px !important;

    .festival {
    margin-top: 10px;

    .img_festival{
        margin-top: 3px;
}}}}