/* ---------------------------------FOOTER---------------------------------*/
footer {
    background-image: linear-gradient(#000000, #161616);
    grid-area: footer;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.404);
}

@media screen and (max-width: 800px) {
    .footer_resp {
    margin-top: 0px;

    .footindex {
    margin-top: 2100px;
}}}