/* ---------------------------------INFORMACIÓN---------------------------------*/
.info {
    display: flex;
    flex-direction: row;
    margin-top: 60px; 
    margin-left: 19px;}

.info__texto {
    width: 556px;
}

.info__img {
    margin-left: 100px;
    margin-right: 20px;
}

.texto_cards {
    color: beige;
    margin-left: 10px;
}
.btn-link {
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: none;
    color: rgb(3, 3, 65);
}

.card {
    background-color: rgb(73, 73, 73);
}

.footinfo {
    margin-left: 12px;
    padding-top: 135px;
    padding-bottom: 10px;
}

.card-body-info {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
}

@media screen and (max-width: 600px) {
    .info__texto {
        width: 456px !important;
    }
    .info {
        display: flex;
        flex-direction: column;
        margin-top: 10px; 
        margin-left: 22px;
        margin-right: 0px;

    .info__img {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 30px;
    
            .footinfo {
                margin-left: 22px;
                padding-top: 0px;
                margin-top: 0px;
            }}}}