/* ---------------------------------INFORMACIÓN---------------------------------*/
.info {
    margin-top: 60px; 
    margin-left: 19px;}

.info__texto {
    width: 556px;
}

.info__img {
    margin-left: 700px;
    margin-right: 20px;
    margin-top: 33px;
    position: absolute;
}

.texto_cards {
    color: beige;
    margin-left: 23px;
    margin-right: 10px;
    font-size: 15px;
}
.btn-link {
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: none;
    color: rgb(3, 3, 65);
}

.card {
    background-color: rgb(73, 73, 73);
}

.footinfo {
    margin-left: 20px;
    padding-top: 110px;
    padding-bottom: 7px;
}

.card-body-info {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
}

@media screen and (max-width: 600px) {
    .info__texto {
        width: 456px !important;
    }
    .info {
        display: flex;
        flex-direction: column;
        margin-top: 10px; 
        margin-left: 22px;
        margin-right: 0px;}

    .info__img {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 30px;
        position:inherit;}
    
        #accordion {
            width: 20rem;
        }
    
        .texto_cards {
            margin-left: 18px;
}

        .card-header {
            padding-left:  0.25rem;
        }
    .footinfo {
        margin-left: 22px;
        padding-top: 0px;
        margin-top: 10px;
    }}