/* ---------------------------------MENÚ---------------------------------*/
    header {
        grid-area: header; 
        margin-top: 10px;
        margin-right: 30px;}
    
    body {
        font-family: 'Poppins', sans-serif;
        background-image: linear-gradient(#141414, #000000);
        margin: 0px 3px 0px 0px;
        }
    
    table {
        font-size: 12px;
        background-color: grey; }
    
    th {
        background-color: #bdbdbd; }
    
    tr, td {
        background-color: #bdbdbd;
        font-style: italic;
        color: #2a50a1; }
    
    h1 {
        color: #0950bb;
        font-weight: bold;
        font-size: 28px;
    font-family: 'Courier New', Courier, monospace;}

    h2 {
        color: #073d8d;
        font-weight: bold;
        font-size: 25px;
        padding-top: 15px;
    }

    h2:hover {
    color: #0e0468;
    }

    h5 {
        font-weight: bold;
    }

    h6 {
        font-weight: bold;
    }

    p {
        color: rgb(255, 255, 255); }
    
    .bajada {
        font-style: italic;
    }
    
    nav ul {
        float: right;

    li {
        font-size: 16px;
        display: inline-block; }
    }
    
    .menu {
        margin-top: 70px; }
    
    .sm_ig {
        margin-top: 4px;
        padding-right: 8px;
        opacity: 0.5;}
    
    .sm_fb {
        margin-top: 4px; 
        opacity: 0.5;}
    
    .cast {
        list-style-type: circle;}

