/* ---------------------------------PROGRAMA---------------------------------*/
.contprog {
    grid-area: contprog;
    margin-bottom: 20px;
    margin-left: 24px;}

.reservas {
    margin-top: 50px;
    padding-bottom: 5px;
    margin-left: 17px;
    width: 500px; }

.days {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .reservas{ 
        width: 400px!important;
    }
    .days {
        display: flex;
        flex-direction: column;
        margin: 31px 10px 0px 4px !important;
}}

.footer_prog {
    margin-top: 20px;
}