/* ---------------------------------PROGRAMA---------------------------------*/
#grilla_prog {
    display: grid;
    grid-template-rows: 100px 575px 72px;
    grid-template-areas: "header header"
    "contprog contprog"
    "footer footer";
    grid-row-gap: 3px; }

.contprog {
    grid-area: contprog;}

.reservas {
    margin-top: 50px;
    padding-bottom: 10px;
    width: 600px; }

.days {
    display: flex;
    flex-direction: row;
}

.footer {
    margin-top: 40px;
    }